@charset "utf-8";

:root {
    --max-width: 1000px; /* 页面的最大宽度*/
    --phone-width: 600px; /* 手机模式下的最大宽度 */

    --background: #fff;
    --foreground: #000;
    --accent: #2962FF
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #fff;
        --foreground: #000;
        --accent: #2962FF
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #212121;
        --foreground: #f5f5f5;
        --accent: #42a5f5;
    }
}

/*********************** reset */

body {
    margin: 0 auto;
    background: var(--background);
    color: var(--foreground);
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, Helvetica, sans-serif;
}

a {
    text-decoration:none;
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
}

/************ posts/tags ***********/

ul.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.posts li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2;
}

ul.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

ul.tags li {
    padding-right: 1rem;
}

ul.tags li:last-child {
    padding-right: 0;
}

/************ #main *****************/

#main {
    word-break: break-all;
    max-width: var(--max-width);
    margin: auto;
}

.post .meta {
    display: flex;
    flex-wrap: wrap;
}

.post .meta .item {
    margin-right: 1rem;
}

.post .meta .item .value {
    margin-right: .2rem;
}

.pages-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2;
    margin: 2rem 0;
}

.pages-nav .prev {
    flex-grow: 1;
}

.pages-nav .next {
    flex-grow: 1;
    text-align: right;;
}

/******************* #footer **************/
#footer {
    background: var(--appbar-background);
    color: var(--appbar-foreground);
    line-height: 2.3rem;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 3rem;
}

#footer .line {
    display: flex;
    flex-wrap: wrap;
}

#footer .line .item {
    margin-right: 1rem;
}
#footer .line .item:last-child {
    margin-right: 0;
}
