@charset "utf-8";

:root {
    --max-width: 1000px; /* 页面的最大宽度*/

    --background: #fff;
    --primary: #000;
    --secondary: #9e9e9e;
    --accent: #2962FF
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #fff;
        --primary: #000;
        --secondary: #9e9e9e;
        --accent: #2962FF
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #212121;
        --primary: #f5f5f5;
        --secondary: #9e9e9e;
        --accent: #42a5f5;
    }
}


/*********************** reset */

body {
    background: var(--background);
    color: var(--primary);
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, Helvetica, sans-serif;
}

a {
    text-decoration:none;
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
}

table, th, td {
    border: 1px solid var(--secondary);
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    line-height: 1.5;
}
td, th {
    padding: 1px 5px;
}

/************ posts/tags ***********/

ul.posts {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.posts li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2;
}

ul.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

ul.tags li {
    padding-right: 1rem;
}

ul.tags li:last-child {
    padding-right: 0;
}

/************ #main *****************/

#main {
    word-break: break-all;
    max-width: var(--max-width);
    margin: auto;
}

.post .meta {
    display: flex;
    flex-wrap: wrap;
}

.post .meta .item {
    margin-right: 1rem;
}

.post .meta .item .value {
    margin-right: .2rem;
}

.pages-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2;
    margin: 2rem 0;
}

.pages-nav .prev {
    flex-grow: 1;
}

.pages-nav .next {
    flex-grow: 1;
    text-align: right;;
}

/******************* #footer **************/
#footer {
    background: var(--appbar-background);
    color: var(--appbar-foreground);
    line-height: 2.3rem;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 3rem;
}

#footer .line {
    display: flex;
    flex-wrap: wrap;
}

#footer .line .item {
    margin-right: 1rem;
}
#footer .line .item:last-child {
    margin-right: 0;
}

/*********** print *****************/

@media print {
    :root {
        --background: #fff;
        --primary: #000;
        --secondary: #222;
        --accent: #444;
    }

    a::after {
        content: "(" attr(href) ")"; /* 所有链接后显示链接地址 */
    }

    .pages-nav, #footer {
        display: none;
    }

    h1 {
        page-break-before: always; /* 之前强制分页 */
    }

    h1, h2, h3, h4, h5, h6,
    thead, tfoot, tr, th, td,
    li {
        page-break-inside: avoid; /* 禁止分页 */
    }
}
