@charset "utf-8";

:root {
    --max-width: 1000px; /* 页面的最大宽度*/

    --background: #fff;
    --primary: #000;
    --secondary: #9e9e9e;
    --accent: #2962FF
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #fff;
        --primary: #000;
        --secondary: #9e9e9e;
        --accent: #2962FF
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #212121;
        --primary: #f5f5f5;
        --secondary: #9e9e9e;
        --accent: #42a5f5;
    }
}

/*********************** reset */

body {
    background: var(--background);
    color: var(--primary);
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, Helvetica, sans-serif;
}

pre {
    overflow-x: auto;
}

a {
    text-decoration:none;
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
}

table, th, td {
    border: 1px solid var(--secondary);
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    line-height: 1.5;
}
td, th {
    padding: 1px 5px;
}

ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/************ posts/tags ***********/

ul.posts li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2;
}

ul.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

ul.tags li {
    padding-right: 1rem;
}

ul.tags li:last-child {
    padding-right: 0;
}

/************ #main *****************/

#main {
    word-break: break-all;
    max-width: var(--max-width);
    margin: auto;
}

.post .meta {
    display: flex;
    flex-wrap: wrap;
}

.post .meta .item {
    margin-right: 1rem;
}

.post .meta .item .value {
    margin-right: .5rem;
}

.pages-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2;
    margin: 2rem 0;
}

.pages-nav .prev {
    flex-grow: 1;
}

.pages-nav .next {
    flex-grow: 1;
    text-align: right;;
}

/******************* #footer **************/

#footer {
    background: var(--appbar-background);
    color: var(--appbar-foreground);
    line-height: 2.3rem;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 3rem;
}

#footer .line {
    display: flex;
    flex-wrap: wrap;
}

#footer .line .item {
    margin-right: 1rem;
}
#footer .line .item:last-child {
    margin-right: 0;
}


/*********************** nav ****************/

.nav-button {
    background: var(--background);
    color: var(--primary);
    padding: 2px 4px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    box-shadow: 0px 0px 2px 1px var(--secondary);
    right: calc((100vw - var(--max-width)) / 2 - 3rem);
}

.nav-button:hover {
    box-shadow: 0px 0px 2px 1px var(--accent);
}

#toc-button {
    white-space: nowrap;
    top: 5rem;
    z-index: 999;
    background: var(--background);
    overflow-y: auto;
    max-height: 60%;
}

#toc-button ul {
    padding: 1px;
    text-align: left;
}

#toc-button ul li {
    line-height: 1.5;
}

#toc-button i {
    position: relative;
    float: right;
}

#toc {
    position: relative;
    top: 0;
    right: 0;
    display: none;
}
#toc-button:hover #toc {
    display: block;
    padding: 10px 30px 10px 15px;
}

.toc-h0 {
    margin-left: 0;
}
.toc-h1 {
    margin-left: 1rem;
}
.toc-h2 {
    margin-left: 2rem;
}
.toc-h3 {
    margin-left: 3rem;
}
.toc-h4 {
    margin-left: 4rem;
}
.toc-h5 {
    margin-left: 5rem;
}

#goto-top {
    bottom: 5rem;
}

/* 1000 即是 var(--max-width) 的值再加上边框按钮所占的宽度，media 指令中无法使用。 */
@media (max-width: 1100px) {
 #toc-button, #goto-top {
        right: 2rem !important;
    }
}

/************ icon ************/

/* 图标库来自 https://www.zhangxinxu.com/sp/icon/css.php */

.css-icon {
    display: inline-block;
    height: 1em; width: 1em;
    font-size: 20px;
    box-sizing: border-box;
    text-indent: -9999px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    color: var(--primary);
}
.css-icon::before,
.css-icon::after {
    content: '';
    box-sizing: inherit;
    position: absolute;
    left: 50%; top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icon-menu::before {
    box-shadow: 0 -.35em, 0 .35em;
    border-top: 2px solid;
    width: 100%;
}

.icon-arrow-up::before {
    height: .65em; width: .65em;
    border-style: solid;
    border-width: 2px 0 0 2px;
    -ms-transform: translate(-50%, -25%) rotate(45deg);
    transform: translate(-50%, -25%) rotate(45deg);
}

/*********** print *****************/

@media print {
    :root {
        --background: #fff;
        --primary: #000;
        --secondary: #222;
        --accent: #444;
    }

    a::after {
        content: "(" attr(href) ")"; /* 所有链接后显示链接地址 */
    }

    .pages-nav, #footer, .nav-button {
        display: none !important; /* 不加 important chrome 不启作用 */
    }

    h1 {
        page-break-before: always; /* 之前强制分页 */
    }

    h1, h2, h3, h4, h5, h6,
    thead, tfoot, tr, th, td,
    li {
        page-break-inside: avoid; /* 禁止分页 */
    }
}